body {
    overflow-x: hidden;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    color: black;
}

.nav-link {
    color: black;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0);   
}

.nav-link:hover {
    color: black;
    border-bottom: 1.5px solid black;
}

.navbar {
    border-bottom: 1.5px solid black;
    font-size: 13pt;
}

.card {
    border: none;
    margin: 2em 0 0 2em;
}

.kopfbild {
    border-radius: 5px;
    border: 2px solid black;
}

/* Footer */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}